.App {
  font-family: "Quicksand", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App > .App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 100vh; */
  /* width: 100vw; */
}

.App > .App-container > .container {
  display: flex;
  fill: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-justify: auto;
  font-size: 0.5em;
  background-color: #1d65a8;
  color: #fcfef4;
  margin-top: 0px;
  padding: 30px;
}
