.App {
  font-family: "Quicksand", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.App > .App-container {
  display: flex;
  flex-direction: row;
}

.App > .App-container > .bars-menu {
  margin: 0px 20px;
}

.navbar {
  width: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
  background-color: #fcfef45f;
  object-fit: cover;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-justify: auto;
  font-size: 0.9em;
  color: #1d65a8;
  margin-top: 10px;
  padding: 30px;
  position: relative;
}
