.content-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;

  .title {
    @include base-title();
  }

  .text-content {
    color: $black;
    text-align: justify;

    .general-subtitle {
      color: $principal;
      text-align: center;
      font-size: 1.25em;
    }

    p {
      font-size: 1.25em;
    }
  }

  @media (max-width: 900px) {
    margin: 5px;
    padding: 1.5%;
    line-height: 1;
    .video {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
      width: 80vw;
    }
  }
}
