.peace-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;
  margin-right: 1.7vw;
  margin-left: 1.7vw;

  .header {
    @include base-title();
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 900px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    img {
      width: 100vw;
    }
  }
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;
  width: calc(100vw - 220px);
  margin-right: 1.7vw;
  margin-left: 1.7vw;

  .header {
    color: $principal-dark;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image {
      font-size: 0.8em;
      text-align: center;

      img {
        width: calc(100vw - 250px);
      }
    }

    .subheader {
      color: $principal;
    }

    a {
      @include base-link();
      text-shadow: 1px 1px 2px;
    }

    .link-list-wrapper-upper-block {
      display: flex;
      justify-content: space-between;

      .list-wrapper {
        .list-title {
          color: $principal;
        }
      }
    }

    .link-list-wrapper-lower-block {
      display: flex;
      justify-content: space-between;

      .list-wrapper {
        .list-title {
          color: $principal;
        }
      }
    }

    @media (max-width: 900px) {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .link-list-wrapper-lower-block {
        display: flex;
        flex-direction: column;
      }

      .link-list-wrapper-upper-block {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.math-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;
  margin-right: 1.7vw;
  margin-left: 1.7vw;

  .header {
    @include base-title();
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .image {
      font-size: 0.8em;
      text-align: center;

      img {
        width: calc(90vw - 250px);
      }
    }
    a {
      @include base-link();
      text-shadow: 1px 1px 2px;
    }
  }

  @media (max-width: 900px) {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100vw;
    }
  }
}

.technology-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;
  margin-right: 1.7vw;
  margin-left: 1.7vw;

  .header {
    @include base-title();
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image {
      font-size: 0.8em;
      text-align: center;

      img {
        width: calc(90vw - 250px);
      }
    }

    a {
      @include base-link();
      text-shadow: 1px 1px 2px;
    }

    .link-list-wrapper-upper-block {
      display: flex;
      justify-content: space-between;

      .list-wrapper {
        .list-title {
          color: $principal;
        }
      }
    }

    .link-list-wrapper-lower-block {
      display: flex;
      justify-content: space-between;

      .list-wrapper {
        .list-title {
          color: $principal;
        }
      }
    }
  }

  @media (max-width: 900px) {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100vw;
    }
  }
}

.english-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;
  margin-right: 1.7vw;
  margin-left: 1.7vw;

  .header {
    @include base-title();
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 900px) {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.spanish-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;
  margin-right: 1.7vw;
  margin-left: 1.7vw;

  .header {
    color: $principal-dark;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .subheader {
      color: $principal;
    }

    a {
      @include base-link();
      text-shadow: 1px 1px 2px;
    }

    .link-list-wrapper-upper-block {
      display: flex;
      justify-content: space-between;

      .list-wrapper {
        .list-title {
          color: $principal;
        }
      }
    }

    .link-list-wrapper-lower-block {
      display: flex;
      justify-content: space-between;

      .list-wrapper {
        .list-title {
          color: $principal;
        }
      }
    }

    @media (max-width: 900px) {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100vw;
      }
    }
  }
}

.languages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .image {
    font-size: 0.8em;
    text-align: center;

    img {
      width: 30vh;
    }
  }
}
