.page-container {
  display: grid;
  grid-template-columns: auto 90%;
  align-items: center;
  margin: 0px;

  .navbar {
    width: 175px;
    height: 100vh;
    padding: 5px;
    margin: 0 15px 0 0;
    border: 3px solid red;
  }

  .container {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home-container {
      display: flex;
      flex-direction: column;

      .summary-images
    }
  }
}
