.page-container {
  display: flex;
  flex-direction: column;
  height: 120vw;

  .container {
    display: flex;
    flex-direction: column;

    .home-container {
      display: flex;
      flex-direction: column;

      .summary-images {
        display: grid;
        text-align: center;
        grid-gap: 2%;

        .images-wrapper-upper-block {
          display: grid;
          grid-template-columns: 1fr 3fr;
          grid-gap: 25px;

          p {
            font-weight: 500;
            letter-spacing: 1px;
          }

          .topic-block {
            background-color: rgba(163, 163, 163, 0.36);
            border-radius: 8px;
            height: 39vh;
            width: 22.5vw;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            .image {
              img {
                height: 39vh;
                width: 22.5vw;
                object-fit: fill;
              }
            }

            .topic-introduction {
              height: 39vh;
              width: 22.5vw;
              font-size: auto;
              background-color: #fcfef47e;
              position: absolute;
            }
          }

          .topic-big-block {
            background-color: rgba(163, 163, 163, 0.36);
            border-radius: 8px;
            height: 39vh;
            width: 70vw;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            .topic-introduction {
              position: absolute;
              height: 39vh;
              width: 75vw;
              background-color: #fcfef47e;
            }

            .big-image {
              img {
                height: 39vh;
                width: 75vw;
              }
            }
          }
        }

        .images-wrapper-lower-block {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-gap: 10px;

          .topic-block {
            background-color: rgba(163, 163, 163, 0.36);
            border-radius: 8px;
            height: 39vh;
            width: 22.5vw;
            overflow: hidden;
            position: relative;
            cursor: pointer;

            img {
              height: 39vh;
              width: 22.5vw;
            }

            .topic-introduction {
              height: 39vh;
              width: 22.5vw;
              background-color: #fcfef47e;
              position: absolute;
            }
          }
        }
      }
    }
  }
}
