body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 1em;
  word-spacing: 5px;
  line-height: 1.6;
  background-image: url("../img/background.jpg");
  background-repeat: auto;
}

body > img {
  height: 50vh;
}
