.languages-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .subtitle {
    @include base-title();
  }

  iframe {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .introduction {
    @include base-paragraph();
  }
}
