@mixin base-paragraph {
  display: flex;
  text-align: center;
  color: $black;
  padding: 25px;
  margin: 5px;
}

@mixin base-btn {
  cursor: pointer;
  height: 42px;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  background-color: $principal;
  color: $yellow;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $principal-dark;
  }
}

@mixin base-title {
  color: $principal;
  text-align: center;
}

@mixin base-link {
  color: $principal;
  text-decoration: none;
  font-size: 1.25em;
}
