.nav-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $marfil;

  .title-wrapper {
    display: flex;
    align-content: space-between;
    padding: 30px;
    margin: 0;

    .logo {
      img {
        height: 150px;
      }
    }

    a {
      cursor: pointer;
    }

    .academy-name {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0px;
      font-size: 1.5em;
      text-decoration: none;
      color: $principal;
    }
  }

  .menu-burger-bars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: $principal;

    .btn {
      @include base-btn();
    }
  }
}
