.nav-wrapper {
  display: flex;
  flex-direction: column;

  .title-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .logo {
      display: flex;
      justify-content: center;
      img {
        width: 85px;
      }
    }

    a {
      cursor: pointer;
    }

    .academy-name {
      display: flex;
      flex-direction: column;
      margin: 0px;
      font-size: 0.5em;
      text-decoration: none;
      color: $principal;
    }
  }

  .menu-burger-bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;

    .btn {
      @include base-btn();
      background-color: transparent;
    }
  }
}
