.nav-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $marfil;

  .title-wrapper {
    display: flex;
    align-content: center;
    padding: 30px;
    margin: 0;

    .logo {
      img {
        height: 100px;
      }
    }

    .academy-name {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0px;
      font-size: 0.65em;
      text-decoration: none;

      a {
        color: $principal;
        text-decoration: none;
      }
    }
  }

  .menu-burger-bars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: $principal;

    .btn {
      @include base-btn();

      &:hover {
        background-color: $principal-dark;
        transition: 0.5s;
        cursor: pointer;
      }
    }
  }
}
